@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Modules/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/**/*.blade.php';
